@charset "utf-8";

.ie11 select, .ie10 select, .ie19 select { padding-right: 0;}

html.oflow, body.oflow { position: fixed; width: 100%; overflow: hidden; height: 100%;}

/*스킵 네비게이션 */
#skip{ position: absolute; margin: 0 auto; width: 100%; list-style: none; font-size: 1.15em; top: -10.5em; left: 0; z-index: 999;}
#skip a:focus, #skip a:active { position: absolute; padding-top: 0.5em; width: 100%; height: 2em; top: 10.5em; z-index: 999; text-align: center;color:#fff; background: #333; overflow: visible; clip: unset;}

/* iphone voiceOver 용 
.visually-hidden {border: 0; clip: rect(0 0 0 0); clip-path: inset(50%); width: 1px; height: 1px; margin: -1px; overflow: hidden; padding: 0; position: relative; display: inline-block;}
*/

#container > .inner { position:relative; z-index:0; background:url("../images/body_line.gif") repeat-y left top; overflow:hidden; }

.inner { position: relative; width: 1152px; margin: 0 auto; min-width: 1152px; }
.inner:after { content: ''; display: block; clear: both;}

/*스크린 리더 only*/
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}

.text-basic { font-size: 16px; line-height: 1.6em;}

h4 { font-size: 18px; font-weight: 700;}

.point {color:#0c82e9; font-weight: 700;}

a.link { padding-right: 11px; background: url("../images/icon_link.png") no-repeat right center;}

/* pc-mobile*/
.pc-view { display: block !important;}
.mo-view { display: none !important;}

/* button */
.btn-group { width: 100%; text-align: center; margin-top: 40px;}
.btn-group.half .btn { margin-left: 6px;}
.btn-group.half .btn:first-child { margin-left: 0px;}
.btn-group.half:after { content: ''; display: block; clear: both;}
.btn-full { display: block; width: 100%;}

.text-left { text-align: left;}
.text-center { text-align: center;}
.text-right { text-align: right;}

.btn { margin: 0; font-family: 'Nanum Gothic'; -webkit-appearance: none; background: transparent; cursor: pointer; border: 0; text-align: center; box-sizing: border-box;vertical-align:middle;}
a.btn {display: inline-block;}
.btn span { display: block; line-height: 100%; font-weight: 700;}
.btn.large { padding: 15px;}
.btn.large span { min-width: 108px; font-size: 16px;}
.btn.medium { padding: 10px 29px;}
.btn.medium span { min-width: 60px;}
.btn.small { padding: 8px 15px 10px; border: 1px solid #767676;}
.btn.small span { min-width: 60px; font-weight: 400; font-size: 14px;}
.btn.tiny { padding: 12px 15px 12px; border: 1px solid #767676;}
.btn.tiny span {color:#222; min-width: 52px;}
.btn.bg-point { background: #0c82e9; border: 1px solid #0c82e9;}
.btn.bg-point span {color:#fff;}
.btn.bg-white { border: 1px solid #dddddd; background: #fff;}
.btn.bg-new { border: 1px solid #0c82e9; background: #fff;}
.btn.bg-new span {color:#0c82e9; font-weight: 700;}
.btn.bg-gray { background: #ddd; border: 1px solid #ddd;}
.btn.bg-correct-blue { background: #5096cd;}
.btn.bg-correct-navy { background: #7792a7;}

.table .btn span, table .btn span { font-weight: 400;}

.btn-id-check { width: 84px; height: 40px; line-height: 40px; background: #fff; border: 1px solid #767676;}

/* 홈페이지 바로잡기 버튼 추가 2019-04-04 */
.btn-group.float {overflow: hidden}
.btn-group.float a.left {float: left;}
.btn-group.float a.right {float: right;}
/* .btn-group a.btn span {display: inline-block;} */
.btn-group a.bg-correct-blue span,
.btn-group a.bg-correct-navy span {color: #fff;}

/* btn rss */
.btn.btn-rss {padding: 8px 15px 10px}
.btn.btn-rss span {display: flex;align-items: center;justify-content: center;}
.btn.btn-rss span:before {content: '';width: 14px;height: 14px;margin-right: 5px;background:url(https://seoulboard.seoul.go.kr/humanframe/front/assets/seoul-common/assets/images/ico-sprite-board.png) no-repeat -82px -62px;}



/*form element*/
/* table 2018-09-14 수정 */
table {table-layout:fixed;width:100%;border-top:1px solid #767676;border-bottom: 1px solid #767676;}
table th {padding:7px 10px;border-bottom: 1px solid #ddd;border-left:1px solid #ddd;color:#222;vertical-align:middle;line-height:1.4;text-align:center;font-weight:700;background:#f4f6f7;}
table td {padding:7px 10px;border-bottom: 1px solid #ddd;border-left:1px solid #ddd;color:#555;vertical-align:middle;line-height:1.4;}
table th:first-child {border-left:0;}
table td:first-child {border-left:0;}

table.table-row tbody tr th { text-align: left; background: #f4f6f7; vertical-align: top;}
table.table-row tbody tr th label { font-size: 16px; display: inline-block; width: 100%;}
table.table-row tbody tr:last-child td, table.table-row tbody tr:last-child th { border-bottom: 0;}

.require { position: relative;}
.require:after { content: '*'; display: inline-block;color:#0c82e9; margin-left:3px; /*position: absolute; top: 0; right: 0;*/}

#content div.dl-table { display: table; width: 100%;}
#content dl.table-row { position: relative; display: table-row;}
#content dl.table-row:after { content: ''; display: block; clear: both;}
#content dl.table-row.first dt,
#content dl.table-row.first dd { border-top: 1px solid #767676;}
#content dl.table-row dt { display: table-cell; width: 25%; vertical-align: middle; background: #f4f6f7; padding: 25px 20px; /*font-size: 16px;*/ box-sizing: border-box; border-bottom: 1px solid #ddd;}
#content dl.table-row dt label,
#content dl.table-row dt b { /*font-size: 16px;*/ display: inline-block; width: 100%;}
#content dl.table-row dd { display: table-cell; width: 75%; padding: 10px 20px; box-sizing: border-box; border-bottom: 1px solid #ddd; vertical-align: middle; line-height:1.6;}
#content dl.table-row dd.wd80 { padding: 25px 20px;}
#content dl.table-row dd.pd { padding: 25px 20px;}
#content dl.table-row.last dt,
#content dl.table-row.last dd { border-bottom: 1px solid #767676;}

.list-type li { float: none !important; position: relative; padding-left: 11px; margin-top: 5px; line-height: 1.6; font-size: 14px;color:#767676;}
.list-type li * { font-size: 14px;}
.list-type li:before { content: ''; position: absolute; top: 10px; left: 0; width: 4px; height: 1px; background: #767676;}

.guide-box .list-type li, .result-box .list-type li {color:#555;}

.guide-box .list-type li:before, .result-box .list-type li:before { background: #555;}

.list-type .light li:before, .list-type li.light:before { background: #767676;}

/* layer popup */
#dim-layer.active { display: block;}
.layer-popup.layer { padding: 50px; box-sizing: border-box; display: block; position: absolute; left: 50%; top: 50%; z-index: 6000; background: #fff;}
.layer-popup.layer .layer-header { margin-bottom: 40px; position: relative;}
.layer-popup.layer .layer-header h1 { font-size: 30px;}
.layer-popup.layer .layer-header .btn-close { width: 27px; height: 27px; background: url(../images/btn_close.png) no-repeat 0 0; position: absolute; right: 0; top: 0;}

/*form*/

input[type='password'], input[type='text'] { width: 100%; height: 40px; line-height: 38px; padding: 0 12px; box-sizing: border-box;}
select { width: 100%; height: 40px; line-height: 38px; padding: 0 12px; box-sizing: border-box;}
select { -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0; background: url(../images/bg_select_arrow_m.png) no-repeat no-repeat 96% center; background-size: 8px auto;}
select::-ms-expand {display:none;} /*0915*/
input, select, textarea {font-family:'Nanum Gothic';color:#767676;}
::-webkit-input-placeholder {color:#767676; font-family: 'Nanum Gothic'; font-size: 14px !important;}
::-moz-input-placeholder {color:#767676; font-family: 'Nanum Gothic'; font-size: 14px !important;}
:-ms-input-placeholder {color:#767676; font-family: 'Nanum Gothic'; font-size: 14px !important;}
:-moz-input-placeholder {color:#767676; font-family: 'Nanum Gothic'; font-size: 14px !important;}



.search-line .search input[type='text']::-webkit-input-placeholder {color:#0C82E9; font-family: 'Nanum Gothic'; font-size: 14px;}
.search-line .search input[type='text']::-moz-placeholder {color:#0C82E9; font-family: 'Nanum Gothic'; font-size: 14px;}
.search-line .search input[type='text']:-ms-input-placeholder {color:#0C82E9; font-family: 'Nanum Gothic'; font-size: 14px;}
.search-line .search input[type='text']:-moz-placeholder {color:#0C82E9; font-family: 'Nanum Gothic'; font-size: 14px;}

/*input[type='radio'] { display: none;}*/
input[type='radio'] + label { position: relative; display: inline-block;}
input[type='radio'] + label:before { content: ''; display: inline-block; width: 18px; height: 18px; background: #fff; border: 1px solid #dedede; border-radius: 50%; vertical-align: middle;}
input[type='radio'] + label span { display: inline-block; vertical-align: middle; margin-left: 6px;}
input[type='radio']:checked + label:before { border: 1px solid #797979; background: #fff url(../images/bg_radio_checked.png) no-repeat center center;}
/*input[type='checkbox'] { display: none;}*/
input[type='checkbox'] { }
input[type='checkbox']:checked + label:before { content: ''; display: inline-block; width: 16px; height: 16px; vertical-align: middle; background: #fff url("../images/icon_input_checked.png") no-repeat center center; border: 1px solid #767676;}
input[type='checkbox'] + label span { vertical-align: middle; margin-left: 10px;color:#555; font-size:14px;}
input[type='checkbox'] + label:before { content: ''; display: inline-block; width: 16px; height: 16px; vertical-align: middle; background-color: #fff; border: 1px solid #dddddd;}

/* 접근성 추가 */
.custom-input {position:relative; display:inline-block;}
.custom-input input[type="checkbox"] {position:absolute; left:0; top:0; width:0px; height:0px; opacity:0;}
.custom-input input[type="radio"] {position:absolute; left:0; top:0; width:0px; height:0px; opacity:0;}
/*
.custom-input input[type='checkbox']:checked + label:before {outline: 1px dashed #888;}
.custom-input input[type='radio']:checked + label:before {outline: 1px dashed #888;}
*/
.custom-input input[type='checkbox']:focus + label:before {outline: 1px dashed #333;/* outline:-webkit-focus-ring-color:5px; */}
.custom-input input[type='radio']:focus + label:before {outline: 1px dashed #333;/* outline:-webkit-focus-ring-color:5px; */}

.additional .custom-input {display:inline;}

/* h-title */
h1, h2, h3, h4, h5, h6 { font-weight: 700;}

.caution {color:#0c82e9 !important; font-size: 14px; font-weight: 700; margin-top: 7px;}

span.dash { display: inline-block; width: 27px; text-align: center; margin-right: -4px;}
span.in-text { display: inline-block; width: 27px; text-align: center;color:#555; margin-right: -4px;}

/*position, align */
.ui-fixed { position: fixed;}
.fl-left, .fl-right { float: left;}
.al-left { text-align: left !important;}
.al-center { text-align: center !important;}
.al-right { text-align: right !important;}
.clfix:after { content: ''; display: block; clear: both;}

/*list*/
ul.basic-list > li { padding-left: 10px; position: relative;}
ul.basic-list > li:before { content: '-'; display: inline-block; margin-right: 5px; position: absolute; left: 0;}
ul.basic-list > li.last { text-indent: 0; margin-top: 0;}
ul.basic-list > li.last:before { display: none;}
ul.basic-list > li:last-child { margin-bottom: 0;}

/*pagination*/
.page-control { text-align: center;}
.pagination { display: inline-block; overflow: hidden; margin: 20px 0 0 0;}
.pagination:after { display:block; content:""; clear:both; }
.pagination li { display: block; float: left;}
.pagination li a { display: block; width: 40px; height: 40px; margin-left: 10px; /*padding: 13px;*/ line-height:37px; border: 2px solid #fff; box-sizing: border-box;}
.pagination li.active a { background: none; border-color: #222;color:#222; font-weight: bold;} /*0827*/
.pagination li.active a:hover, .pagination li.active a:active, .pagination li.active a:focus { background: none; border-color: #333;color:#333;}
.pagination li a:hover, .pagination li a:active, .pagination li a:focus { background: none;}
.pagination li[class^="btn-"] a { margin-left: -1px; background: url(../images/btn_pagination.png) no-repeat; background-size: 120px 30px; border: 1px solid #ccc; border-radius: 0;}
.pagination li.btn-first a { margin-left: 0; background-position: 4px;}
.pagination li.btn-prev a { margin-right: 10px; background-position: -26px 4px;}
.pagination li.btn-next a { margin-left: 10px; background-position: -54px 4px;}
.pagination li.btn-last a { background-position: -85px 4px;}

/* layout */
#wrap { position:relative; min-width: 1152px;}

/*분야별 정보*/
.info_cate{position:relative;}
.info_detail{display:none; position:absolute; top:48px; right:0;  box-sizing:border-box;}
.info_detail h1{background-color:#0d82e9; color:#fff; padding:10px 0; font-size:14px; padding-left:20px; margin:1px 1px 19px 1px;}
.info_detail h2{background-color:#0d82e9; color:#fff; padding:10px 0; font-size:14px; padding-left:20px; margin:1px 1px 19px 1px;}
.info_detail .btn_close{width:14px; height:14px; background:url(../images/btn_allmenu_close.png) no-repeat; background-size:100%;    position: absolute;right: 8px;top: 12px;}
.info_detail.on{width:200px; display:block; border:1px solid #959595;  background:#fff; z-index:1;}
.info_detail.on:before{content:''; position:absolute; width:20px; height:12px;  background:url(../images/bg_info_detail_arr.png) no-repeat; right:25px; top:-11px;}
.info_detail ul:after{content:''; display:block; clear:both;}
.info_detail ul{padding:0 31px; margin-left:-30px;}
.info_detail li{float:left; width:53px; height:80px; margin-left:30px;}
.info_detail li a{font-size:13px; font-weight:700; text-align:center; display:block; /*height:80px;*/ padding-top:57px;}
.info_detail li.house{background:url(../images/icon_house_s.png) no-repeat; background-size:contain; }
.info_detail li.economy{background:url(../images/icon_economy_s.png) no-repeat; background-size:contain; }
.info_detail li.traffic{background:url(../images/icon_traffic_s.png) no-repeat; background-size:contain; }
.info_detail li.environment{background:url(../images/icon_environment_s.png) no-repeat; background-size:contain; }
.info_detail li.welfare{background:url(../images/icon_welfare_s.png) no-repeat; background-size:contain; }
.info_detail li.safty{background:url(../images/icon_safty_s.png) no-repeat; background-size:contain; }
.info_detail li.culture{background:url(../images/icon_culture_s.png) no-repeat; background-size:contain; }
.info_detail li.work{background:url(../images/icon_work_s.png) no-repeat; background-size:contain; }
.info_detail .view_all{border-top:1px dashed #c9c9c9; margin:7px 13px 0 13px; padding:10px 0 12px 0;}
.info_detail .view_all > a{display:block; width:100%; text-align:center; color:#313131; font-size:14px; font-weight:700;}

/* container */
#container.full-size { width: 100%; padding: 55px 0 100px;}
#container:after { content: ''; display: block; clear: both;}
#container.full-size h2 { display: inline-block; font-size: 36px; font-weight: 400; text-align: center; position: relative;color:#222;}

/* sub menu */
#snb { position:relative; float: left; width: 200px; padding: 55px 30px 100px 0; box-sizing: border-box; height: 100%; }
#snb h2 { font-size: 24px; text-align: center;}
#snb > ul { padding-top: 20px; margin-top: 25px; border-top: 2px solid #222;} /*0824*/
#snb > ul > li.selected > a { background-image: url(../images/bg_snb_down_w.png); background-repeat: no-repeat; background-position: 150px 20px;} /*0904*/
/*#snb > ul > li.selected > ul{display:block !important;}*/
#snb > ul > li > a { display: block; padding: 13px 22px 14px 10px;color:#555; font-size: 14px; background-image: url(../images/bg_snb_down.png); background-repeat: no-repeat; background-position: 150px 20px;letter-spacing:-1px;} /*0824, 0904*/
/* #snb > ul > li > a:hover {background-image: url(../images/bg_snb_down_w.png); background-repeat: no-repeat; background-position: 150px 20px;} /*0904*/
/* #snb > ul > li.dep0 > a, #snb > ul > li.dep0 > a:hover {background-image:none;} */ /*0824 주석*/
#snb > ul > li.dep0.on > a { background-color:#0c82e9; color:#fff; font-weight:700;}
/* #snb > ul > li.selected > a:hover {background-image: url(../images/bg_snb_up.png); background-repeat: no-repeat; background-position: 150px 20px;} */
#snb > ul > li > a.has-child {}
/* 20181004 수정 */
#snb > ul > li > a + ul {display:none; background: #f4f6f7; padding: 10px 0;}
#snb > ul > li > a + ul > li > a {color:#767676; font-size: 14px; padding:6px 10px; display: block;letter-spacing:-1.5px;} /* 2022-04-04 padding:6px 15px; */
#snb > ul > li > a + ul > li.on > a {color:#0c82e9;}
#snb > ul > li.selected > ul{display:block;}
#snb > ul > li > ul > li > ul {display:none;}
#snb > ul > li > ul > li > ul > li > a {color:#767676; font-size: 13px; padding:3px 10px 0 25px; display: block;letter-spacing:-1px;}
#snb > ul > li > a + ul > li.selected > a,
#snb > ul > li > a + ul > li > a:hover {color:#0c82e9;}
#snb > ul > li > a + ul li.on a {color:#0c82e9; font-weight:700;}
#snb > ul > li.selected > a { background-color: #0c82e9;color:#fff; font-weight:700;}
#snb > ul > li > a + ul li.selected li.on a {color:#222; font-size:12px; font-weight:400; padding:3px 10px 0 25px;}
#snb > ul > li > a + ul li.has_sub > a{background: url(../images/img_hasub_open.png) no-repeat right 15px top 50%;}
#snb .depth > li.selected > a.depth3:after {display:inline-block; content:''; width:10px; height:10px; background: url(../images/btn_minus.png) no-repeat left top; margin-left:5px;}
#snb a.depth3:after {display:inline-block; content:''; width:10px; height:10px; background: url(../images/btn_plus.png) no-repeat left top; margin-left:5px;}
#snb .depth > li.selected > a {color:#0c82e9;font-weight:700;}
/* #snb > ul > li.dep_no:hover > a { background: #0c82e9 0 none;color:#fff;} /*0828*/
#snb > ul > li.dep_no a {background:0;padding:13px 10px 14px 10px;} /*0828 0904*/
#snb > ul > li.dep_no.selected a {color:#555;font-weight:400;}
#snb > ul > li.dep_no.selected {background-color: #0c82e9;}
#snb > ul > li.dep_no.selected a {color:#fff;}
#snb > ul > li.dep_no.selected:hover {color:#fff;background-color: #0c82e9;}
#snb > ul > li > a + ul > li.selected > ul {display:block;}

/* #snb > ul > li.active {background-color: #0c82e9;} */
#snb > ul > li.active.selected > a { background-image: url(../images/bg_snb_up.png); background-repeat: no-repeat; background-position: 150px 20px;} /*0904
/* #snb > ul > li.active > a:hover {background-image: url(../images/bg_snb_up.png); background-repeat: no-repeat; background-position: 150px 20px;} */
/* #snb > ul > li.active > a {color:#fff;} */
#snb > ul > li.active > a {font-weight:700;}
#snb > ul > li > a + ul > li.active > a {color:#0c82e9; font-weight:700;}
#snb > ul > li > a + ul > li.active > ul {display:block;}
#snb > ul > li > ul > li.active > ul {display:block;}
#snb .depth > li.active > a.depth3:after {display:inline-block; content:''; width:10px; height:10px; background: url(../images/btn_minus.png) no-repeat left top; margin-left:5px;}

/* 메뉴 blank 아이콘 추가 2022-04-04 */
#snb ul li a[target="_blank"],
#all_menu a[target="_blank"] {position: relative;display: flex;align-items: center;}
#snb ul li a[target="_blank"]:after,
#all_menu a[target="_blank"]:after {content: '';width: 12px;height: 11px;margin-left: 4px;background: url(../images/helper/icon_blank_small.png) no-repeat 0 0;}


#content { float: right; width: 912px; padding: 52px 0 60px; background: #fff; min-height:600px;} /*0824*/
.full-size #content.content-full {float: none;width: 100%;padding: 0 0 60px} /* 2022-01-06 */
#content .title-wrap { position: relative;}
#content .title-wrap h3 { font-size: 36px; text-align: center; font-weight: 400;}
#content .title-wrap .path { margin-top: 18px; margin-bottom: 58px; text-align: center;color:#555;}
#content .title-wrap .path a {color:#555;}
#content .title-wrap .path span { display: inline-block; margin: 0 10px;color:#aaaaaa; background: url("../images/icon_link2.png") no-repeat; text-indent: -9999px; width: 5px; height: 9px; vertical-align: middle;}
#content .title-wrap .util { position: absolute; top: 10px; right: 0;}
#content .title-wrap .util a { display: block; width: 44px; height: 44px; background: url(../images/icon_set_common.png) no-repeat 5px -195px; border: 1px solid #cccccc; text-indent: -9999px;}

.full-size > .content { float:none; margin:0 auto; }

.snb_m {display:none;}

@media (max-width: 1151px) {

	::-webkit-input-placeholder {color:#767676; font-family: 'Nanum Barun Gothic'; font-size: 14px !important;}
	::-moz-input-placeholder {color:#767676; font-family: 'Nanum Barun Gothic'; font-size: 14px !important;}
	:-ms-input-placeholder {color:#767676; font-family: 'Nanum Barun Gothic'; font-size: 14px !important;}
	:-moz-input-placeholder {color:#767676; font-family: 'Nanum Barun Gothic'; font-size: 14px !important;}

	input, select, textarea {font-family:'Nanum Barun Gothic';color:#767676;}

	.pc-view { display: none !important;}
	.mo-view { display: block !important;}
	.inner { width: 100%; min-width: 100%; }
	#container > .inner { background-image:none; }

	/*pagination*/
	.pagination { margin-top: 20px;}
	.pagination li a { width: 30px; height: 30px; line-height: 20px;margin-left: 2px; padding: 5px; font-size: 11px;}
	.pagination li.btn-first a { margin-left: 0; background-position: -2px 0;}
	.pagination li.btn-prev a { margin-right: 3px; background-position: -34px 0;}
	.pagination li.btn-next a { margin-left: 3px; background-position: -61px 0;}
	.pagination li.btn-last a { background-position: -91px 0;}

	/* form */
	input[type="password"], input[type="text"], select { width: 100%; height: 50px; line-height: 48px; font-size: 14px;padding:0 7px;} /*0827*/
	input[type='radio'] + label { padding-left: 20px;}
	input[type='radio'] + label span { display: inline-block; vertical-align: middle; margin-left: 0px;color:#555; font-size: 14px;}
	input[type='radio'] + label::before { content: ''; display: inline-block; width: 12px; height: 12px; border: 1px solid #dedede; border-radius: 50%; vertical-align: middle; position: absolute; left: 0; top: 50%; margin-top: -7px;}
	input[type='radio']:checked + label::before { content: ''; display: inline-block; width: 12px; height: 12px; border-radius: 50%; vertical-align: middle; background: #fff url(../images/bg_radio_checked.png) no-repeat center center;}
	input[type='checkbox']:checked + label:before { width: 12px; height: 12px; background: #fff url("../images/icon_input_checked_m.png") no-repeat center center; background-size: 12px auto;}
	input[type='checkbox'] + label span { font-size: 14px;}
	input[type='checkbox'] + label:before { width: 12px; height: 12px;}

	.btn.large { padding: 15px 40px;}
	.btn.large span { min-width: 68px; font-weight: 700; font-size: 16px;}
	.btn.medium { padding: 10px 27px 9px;}
	.btn.medium span { min-width: 48px; font-size: 14px; font-weight: 400;}
	.btn.tiny {height:50px;line-height:100%;} /*0827*/
	.btn.tiny span { font-size: 16px !important;}
	.btn-group { margin-top: 20px;}
	.btn-group.full .btn { width: 100%; padding: 0; height: 50px; line-height: 100%;}
	.btn-group.full .btn span { font-size: 16px;}
	.btn-group.half .btn { width: 48%; padding: 0; float: left; height:50px ; line-height: 100%;}
	.btn-group.half .btn:nth-child(2) { float: right; margin: 0;}
	.btn-group.half .btn:nth-child(3) { float: left;}
	.btn-group.half .btn span { font-size: 15px;}
	.btn-group.half:after { content: ''; display: block; clear: both;}
	

	/* 홈페이지 바로잡기 버튼 추가 2019-04-04 */
	.btn-group.half a.btn, .btn-group.full a.btn {line-height: 50px;}
	.btn-group a.btn span {line-height: 50px;} 
	.btn-group a.btn-rss {padding: 0 15px;line-height: 1;}
	.btn-group a.btn-rss span {height: 50px;line-height: 50px;}

	#content dl.table-row { display: block;}
	#content dl.table-row:after { content: ''; display: block; clear: both;}
	#content dl.table-row.first {}
	#content dl.table-row.first dt,
	#content dl.table-row.first dd { border-top: 0 !important;}
	#content dl.table-row.first.mtop dt { border-top: 1px solid #767676; }
	#content dl.table-row dt { float: none; display: block; width: 100%; position: static; padding: 0; font-size: 14px; border-bottom: 0;color:#555;margin-top:20px;padding:6px 7px 4px;}
	#content dl.table-row dt label { width: auto; padding-right: 12px; font-size: 16px; color:#555; }
	#content dl.table-row dt b { width: auto; padding-right: 12px; color:#555;}
	#content dl.table-row dt.wd20 { float: left; width: 26%;}
	#content dl.table-row dd { float: none; display: block; width: 100%; padding: 5px 0 0; border-bottom: 0; overflow:hidden;}
	#content dl.table-row dd.wd80 { float: left; width: 74%; padding: 5px 0 0;margin-top:20px;}
	#content dl.table-row dd.pd { padding: 0;}
	#content dl.table-row.last dt { border-bottom: 0;}
	#content dl.table-row.last dd {padding-bottom: 20px; border-bottom: 1px solid #222;}
	a.link { padding-right: 11px; background: url("../images/icon_link_m.png") no-repeat right center; background-size: 4.5px auto;}
	#content .company dl.table-row.last dd {border-bottom: 0;}

	/* layout */
	#wrap { min-width: 100%;}

	/* sub menu */
	#snb {float: none; width: 100%; padding: 0; position: relative; margin-bottom: 10px; border: 0;display:none;}
	#snb h2 { display: none;}
	#snb > ul { margin: 0; border: 0; padding: 0; width: 100%;background: #fff; border-bottom: 1px solid #ddd;}
	#snb > ul > li {position: relative; width: 100%;}
	#snb > ul > li.selected { display: block; }
	#snb > ul > li > a {background: url(../images/bg_snb_down.png) no-repeat right 20px center;}
	#snb > ul > li > a:hover{background: url(../images/bg_snb_up_gray.png) no-repeat right 10px top 50%;}
	#snb > ul > li.selected > a,
	#snb > ul > li.selected > a:hover{background: url(../images/bg_snb_up_gray.png) no-repeat right 20px top 50%;}
	#snb > ul > li.selected > a {border-bottom: 1px solid #ddd;}
	#snb > ul > li.selected > a,
	#snb > ul > li:hover > a {background-color:#fff; color:#222;}
	#snb a { font-weight: 700; font-size: 18px;color:#222; box-sizing: border-box; background: transparent;}
	/* #snb + #content {padding:20px 15px 40px;} */

	#container { background: #f4f6f7; width: 100%; padding: 0; margin: 0;}
	#container.story_container { padding-top:45px; background:#fff; }
	/*#container.full-size { padding:55px 0 0; }*/
	#container.full-size { padding:0; }
	#container.full-size .inner { background: #fff; padding: 18px 15px; box-sizing: border-box;}
	#container.full-size .content { top:0; padding:0; }
	#container.full-size #content.content-full {top: 50px;padding-bottom: 100px;} /* 2022-01-06 회원 서비스 이용중지 안내 */
	#content { position:relative; display:block; float:none; top:100px; width:100%; min-height:auto; padding:16px 15px 110px; box-sizing:border-box; z-index:3; }
	#content .title-wrap { display: none;}
	#content .title-wrap.mo-view h3 {margin-bottom:15px;font-size:16px;font-weight:600;text-align:left;}
	#content .title-wrap.mo-view .path {display:none;}
	#content .title-wrap.mo-view .util {display:none;}

	.snb_m { position:fixed; display:block; left:0; top:45px; width:100%; /*margin-top:-10px;*/background:#fff; z-index:9; }
	.snb_m .dep1 {position:relative;}
	.snb_m .dep1 > a {position:relative;display:block;line-height:45px;font-size:18px;font-weight:700;padding:0 15px;border-bottom:1px solid #d7d7d7;} /*0827*/
	.snb_m .dep1 > a:after {display:block;content:'';width:12px;height:7px;position:absolute;right:15px;top:18px;background:url('../images/icon_arrow_down.png') no-repeat left top;background-size:12px 7px;}
	.snb_m .dep1.selected > a:after {background:url('../images/icon_arrow_down2.png') no-repeat left top;background-size:12px 7px;}
	.snb_m .dep1 ul li a {display:block;font-size:16px;color:#555;line-height:35px;border-bottom:1px solid #ddd;} /*0827*/
	.snb_m .dep1 ul li:last-child a {border-bottom:0;}
	.snb_m .dep1 ul {background:#f4f6f7;padding:0 15px;top:46px;display:none;border-bottom:1px solid #0d82eb;box-shadow: rgba(0,0,0,0.3) 3px 0 3px;}
	.snb_m .dep1 ul.dep3 {box-shadow: none; border-bottom:1px solid #ddd;}
	.snb_m .dep1 a.only:after {display:none;}

}

/* 검색 입력도구 접근성 관련 내용 추가 2019-09-25 */
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td #keyboardInputClear,
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td #keyboardInputClose {display: inline-block;}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td:focus,
#keyboardInputMaster #keyboardInputClear:focus,
#keyboardInputMaster #keyboardInputClose:focus {outline: 1px dotted #181818}

/* 체크박스 in 분야별 새소식 2021-09-30 */
.checkbox-wrap input[type='checkbox'],
.checkbox-wrap input[type='radio'] {position: absolute;top: 0;left: 0;width: 1px;height: 1px;opacity: 0}
.checkbox-wrap input[type='checkbox']:focus + label:before,
.checkbox-wrap input[type='radio']:focus + label:before {outline: 1px dashed #888}
.checkbox-wrap input[type='checkbox'] + label span,
.checkbox-wrap input[type='radio'] + label span {margin-right: 10px}
.cate-wrap .con .checkbox-wrap {line-height: 40px}
.cate-wrap .con .checkbox-wrap label span {margin-right: 15px;color: #222}

body.cate {min-width: 100%}

@media (max-width: 1151px) {
.checkbox-wrap input[type='checkbox'] + label span,
.checkbox-wrap input[type='radio'] + label span {margin-left: 5px;margin-right: 5px}
.cate-wrap .con .checkbox-wrap label span {margin-right: 5px}
}

@media (max-width: 350px) {
.cate-wrap .con .checkbox-wrap {line-height: 1.5;}
.checkbox-wrap input[type='checkbox'] + label {display: inline-block;width: calc(33.3333% - 5px);}

}

/* 통합게시판 수정 */
#seoul-common-board input {-webkit-appearance: auto; -moz-appearance: auto; appearance: auto;}
#seoul-common-board td label {font-size: 14px}
#seoul-common-board td label + label {margin-left: 10px}
#seoul-common-board td label input[type="checkbox"],
#seoul-common-board td label input[type="radio"]{margin-right: 5px;}