
/* default */
@charset "utf-8";
* {margin:0;padding:0;}
html	{padding:0; margin:0; overflow-y:scroll; }
body,button,input	{font-size:14px; color:#000; }
body,div,p,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,blockquote,select,a,textarea,input,button 
{font-family:'맑은 고딕','Malgun Gothic','Nanum Gothic','돋움',dotum,sans-serif;}

body, div,p,ol,ul,li,dl,dt,dd, span,em,strong,label,input,form, h1,h2,h3,h4,h5,h6, address,td,th,table,
object,blockquote,pre,abbr,cite,code,del,dfn,img,ins,kbd,q,samp,small,var,b,i,fieldset,iframe,legend,article,
aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{line-height:140%; }

a, div, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, span {text-shadow: none;}

thead, tbody, tfoot, tr, td, th { border-color: inherit; border-style: solid; border-width: 0;}

.d-flex {display: flex !important;}
.p-0 {padding: 0 !important;}
.text-center {text-align: center !important;}
.align-items-center {align-items: center !important;}
.justify-content-start {justify-content: flex-start !important;}
.align-i {margin-right: 1rem !important;}

* {box-sizing: border-box; }

/* all-body */
.all-body {overflow: hidden;}

/* container */
.container-wrapper {height: 100vh; display: flex; flex-direction: row; padding-left: 0; padding-right: 0;}

/* sidebar */
.sidebar {position:absolute; background: #232227; display:flex; flex-direction: column; flex-grow: 0; flex-shrink: 0; width: 56px; height: 100%;}
.sidebar:hover {width: 155px; transition: 0.1s ease-out 0.7ms}

.sidebar .sidebar-title-wrapper  {display: flex; flex-direction: row; align-items: center; margin: 20px 0px; padding: 0px 7px; height: 50px; text-decoration: none; overflow: hidden;}
.sidebar .sidebar-title-wrapper .sidebar-icon {width: 40px; margin-right: 10px;}
.sidebar .sidebar-title-wrapper .sidebar-title {color: #FFFFFF; display: inline-block; font-size: 22px; font-weight:600;}

.sidebar .nav {display: flex; flex-wrap: nowrap; flex-direction: column; list-style: none; overflow: hidden; }
.sidebar .nav:last-child {margin-top: auto; margin-bottom: 5px;}
.sidebar .nav .nav-item {}
.sidebar .nav .nav-item:hover {background-color: #3c3c3c;}
.sidebar .nav .nav-item .nav-link {display: flex; flex-direction:row; align-items: center; padding: 5px 10px; font-weight: 400; text-decoration: none;}
.sidebar .nav .nav-item .nav-link .menu-icon {width: 35px; margin-right: 10px;}
.sidebar .nav .nav-item .nav-link .menu-title {color: #FFFFFF; display: inline-block; font-size: 14px; font-weight:400;}

.sidebar-fake {background: #232227; display:flex; flex-direction: column; flex-grow: 0; flex-shrink: 0; width: 55px;}


/* main-panel */
.main-panel {height: 100vh; width:100%; background: #F4F5F7; overflow-y: scroll;}

/* content */
.content-wrapper {background: #F4F5F7; padding: 0rem 15px 15px 15px; width: 100%;}
.row {height:100%;}
.row-content {padding-bottom: 15px; border: none; display: flex; flex-direction: row; flex-wrap: wrap;}
.row-content.first-row-content {padding-top: 15px;}
.row-content.first-row-content #row-1-col-1 {flex: 1; }

/* content > checkbox */
.nav-checkbox {display: flex; flex-wrap: nowrap; flex-direction: row; align-items: center; list-style: none; overflow: hidden; }

.nav-checkbox li {margin-right: 20px; }
.nav-checkbox li:first-child {margin-right: 20px; }
.nav-checkbox li:nth-child(2) {margin-right: 35px; }
.nav-checkbox li:last-child {margin-right: auto; }

.nav-checkbox .nav-checkbox-refresh .btn-refresh {display: flex; justify-content: center; align-items: center; border: none; border-radius: 50px; width: 40px; height: 40px; background: #232227;}
.nav-checkbox .nav-checkbox-refresh .btn-refresh:active {background: #ddd; transition: 0.6s;}
.nav-checkbox .nav-checkbox-refresh .btn-refresh .refresh-icon {width: 35px;}
.nav-checkbox .nav-checkbox-refresh .btn-refresh .refresh-icon:active  {transform: rotate(90deg); transition: 0.2s;}

.nav-checkbox .nav-checkbox-all .nav-checkbox-all-wrapper {display: flex; flex-direction: row; align-items: center;}
.nav-checkbox .nav-checkbox-all .nav-checkbox-all-wrapper .checkbox-action input {appearance: none}
.nav-checkbox .nav-checkbox-all .nav-checkbox-all-wrapper .checkbox-action input:checked ~ i {background: #232227;}
.nav-checkbox .nav-checkbox-all .nav-checkbox-all-wrapper .checkbox-action input:checked ~ i::before {left: calc(100% - 19px)}
.nav-checkbox .nav-checkbox-all .nav-checkbox-all-wrapper .checkbox-action i {display:inline-block; position:relative; width: 40px; height: 22px; background: #ddd; border-radius: 15px; margin-top: 5px;}
.nav-checkbox .nav-checkbox-all .nav-checkbox-all-wrapper .checkbox-action i::before {content: ''; position: absolute; top: 2.5px; left: 2.5px; width: 16px; height: 16px; border-radius: 16px; background:#fff; box-shadow: 0 2px 4px rgba(0,0,0,0.1); top: 3px; transition: 0.3s;}

.nav-checkbox .nav-checkbox-content label {display: flex; align-content: center; align-items: center; font-size: 15px;}
.nav-checkbox .nav-checkbox-content label input {margin-left: 8px;}
.nav-checkbox .nav-checkbox-content input[type="checkbox"] {background:#ddd; -webkit-appearance: none; position: relative; width: 16px; height: 16px; cursor: pointer; outline: none !important; border: 1px solid #eeeeee; border-radius: 2px; background: #fbfbfb;}
.nav-checkbox .nav-checkbox-content input[type="checkbox"]::before {content: "\2713"; position: absolute; top: 50%; left: 50%; overflow: hidden; transform: scale(0) translate(-50%, -50%); line-height: 1;}
.nav-checkbox .nav-checkbox-content input[type="checkbox"]:hover {border-color: rgba(170, 170, 170, 0.5);}
.nav-checkbox .nav-checkbox-content input[type="checkbox"]:checked {background-color: rgba(20, 20, 26, 0.707); border-color: #21252957; color: white;}
.nav-checkbox .nav-checkbox-content input[type="checkbox"]:checked::before {border-radius: 2px; transform: scale(1) translate(-50%, -50%)}

/* content > card */
.card {width: 540px; background-color: #fff; margin: 5px;}
.card.card-rounded {border-radius: 15px; box-shadow: none; border: none;}
.card.card-rounded.first-card {width: 100%;}
.card .card-body {padding: 20px 20px;}
.card-title {font-style: normal; font-weight: 800; font-size: 16px; line-height: 22px; color: #1F1F1F; margin-bottom: 2px;}

/* content > table */
table {caption-side: bottom; border-collapse: collapse; }
.table {margin-bottom: 0; margin-bottom: 10px; color: #212529; vertical-align: top; border-color: #dee2e6;}
.table thead th {border-top: 0; border-bottom-width: 1px; font-weight: 600; font-size: 15px;}
.table th, .table td {vertical-align: middle; line-height: 1; white-space: nowrap; padding: 20px 20px;}
.table td:last-child {padding-right: 0px}
.table > * > * {border-bottom-width: 1px;}

.table th {color: #A3A3A3; font-style: normal; font-weight: bold; font-size: 12px; line-height: 15px; text-transform: uppercase; padding-right: 5px; padding-left: 0; text-align: left;}
.table td {font-size: 12px; line-height: 16px; color: #8D8D8D; padding-top: 14px; padding-bottom: 14px; padding-left: 0;}
.table td h6 {font-style: normal; font-weight: 500; font-size: 13px; line-height: 18px; color: #000000; margin-bottom: 5px;}
.table td h7 {margin-bottom: 0.5px; display: block;}
#table-button {display: flex; flex-direction:row; flex-wrap: wrap;}

/* content > button */
button:not(:disabled), [type="button"]:not(:disabled) {cursor: pointer;}
.btn {padding: 0px; box-sizing: border-box; border-style: solid; border-radius: 50%; color: #000000; font-weight: 500; font-size: 11px; line-height: 12px; align-items: center;}
.btn.btn-rounded {border-radius: 50px; width: 60px; height: 60px; margin: 3px;}
.btn-danger {background: #F95F53; border-color: #F95F53;}
.btn-warning {background: #ffaf00; border-color: #ffaf00;}
.btn-success {background: #34B1AA; border-color: #34B1AA;}
