/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
font-family: 'Noto Sans KR', sans-serif;

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
font-family: 'Raleway', sans-serif;

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
font-family: 'Montserrat', sans-serif;

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');




@import url('http://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
  height: 100vh;
}

a{
  color: #222;
  text-decoration: none;
}