@import url('http://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color: #222;
  text-decoration: none;
}

.container{
  /* text-align: center; >> 자식이 inline-block*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.icon {
  /* display: inline-block; */
  /* border: 1px solid red; */
  width: 125px;
  height: 125px;
  margin: 10px;
  position: relative;
}

.icon span{
  /* display: none; */
  position: absolute; 
  /* position: absolute가 있으면 reletive도 있는거임 */
  /* 이거 주는 순간 inline으로 변경됨. 즉 콘텐츠 양만큼 크기가 줄어든다 */
  background-color: #000;
  text-align: center;
  color: #fff;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  /* 마우스 올렸을때 보이게 */
  transition: 0.5s;
  /* 서서히 나타나게 */
  visibility: hidden;
  /* 자리값은 유지하되 존재 자체를 사라지게하는 (visibility: none은 아예 없음  >> 반대로 hover했을떄는 visibilty: visible*/
}

.icon span:after {
  /* before,after 가상클래스는 반드시 content으로 시작 */
  content: '';
  position: absolute;
  background-color: #000;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateX(-50%);
  bottom: -5px; /* 높이값만큼 내려줌 (반만 내려가게)*/
  /*transform: translateX(-50%); >> 근데 transfort을 두번 쓸 수는 없음 */
  left: 50%;
}

.icon:hover span{
  /* display: block; */
  opacity: 1;
  visibility: visible;
}